@import "tailwindcss";

@import "./theme.css";
@import "./variants.css";
@import "./utilities.css";

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: theme(--color-primary);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme(--color-primary / 0.7);
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: theme(--color-primary / 0.2);
  }
  * {
    border-color: theme(--color-border);
    min-width: 0;
  }
  html {
    overflow-x: clip;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    background-color: theme(--color-background);
    color: theme(--color-foreground);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  input,
  textarea {
    background-color: transparent;
    outline: none;
    width: 100%;
  }
}
