---
import { Button } from "@/components/ui/button";
import { LampEffect } from "@/components/ui/lamp-effect";
import RootLayout from "src/layouts/RootLayout.astro";
---

<RootLayout title="Home">
  <div class="">
    <LampEffect client:load />
    <center>
      <a href="/blog" class="hover:text-primary">
        <Button>Blog</Button>
      </a>
    </center>
  </div>
</RootLayout>
