---
import Layout from "../layouts/Layout.astro";
import Test from "../components/test.tsx";
---

<Layout title="Main">
  <div class="container">
    <h1 class="text-7xl opacity-0 -translate-y-32" id="hello">Hello World</h1>
    <Test />
  </div>
</Layout>
