---
import RootLayout from "src/layouts/RootLayout.astro";
---

<RootLayout title="Home">
  <div class="container">
    <h1 class="text-7xl text-primary" id="hello">Hello World</h1>
  </div>
</RootLayout>
