---
import "@/styles/globals.css";
import SEO from "@/components/SEO.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import GotoTop from "@/components/common/GotoTop.astro";

type Props = {
  title?: string;
  description?: string;
  ogImage?: URL;
};

const props = Astro.props;
---

<html lang="en">
  <head>
    <SEO {...props} />
    <ViewTransitions />
  </head>
  <body
    class:list={["min-h-screen bg-background font-sans antialiased", "default"]}
  >
    <div class="relative flex min-h-screen flex-col">
      <main class="flex-auto">
        <slot />
      </main>
    </div>
    <GotoTop />
  </body>
</html>

<script>
  console.log("https://github.com/sohanemon/astro-template");
</script>
